<html>
<head>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/icons/icon.css') }}">
        <link rel="stylesheet" href="{{ asset('css/materialize.min.css') }}">
    {% endblock %}

    {% block javascripts %}
        <script type="application/javascript" src="{{ asset('js/jquery-3.1.0.js') }}"></script>
        <script type="application/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
    {% endblock %}

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8">
    <title>Inicio</title>
</head>
<body bgcolor="#b2dfdb ">

<!--<img src="imagenes/cab.jpg" alt="inicio " width="100%" />-->

<style media="screen">
    .slider .indicators {
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0; }
    .slider .indicators .indicator-item {
        display: inline-block;
        position: relative;
        cursor: pointer;
        height: 16px;
        width: 16px;
        margin: 0 12px;
        background-color: #e0e0e0;
        -webkit-transition: background-color .3s;
        -moz-transition: background-color .3s;
        -o-transition: background-color .3s;
        -ms-transition: background-color .3s;
        transition: background-color .3s;
        border-radius: 50%; }
    .slider .indicators .indicator-item.active {
        background-color: #2fc3df; }
</style>

<div class="container" >
    <nav class="gray">
        <ul class="left hide-on-med-and-down">
            <li><a href="revista.php">Inicio</a></li>

            <li><a href="{{ path('Articulos') }}">Articulos</a></li>
            <li><a href="{{ path('Login') }}">login</a></li>
            <a href="#" class="brand-logo center"> <img src="imagenes/escudo.jpg" alt="inicio" width="23%" /></a>
        </ul>
        <ul id="slide-out" class="side-nav red">
            <br>
           <!-- <li><a href="#" class="brand-logo center"><img class="responsive-img" src="imagenes/escudo.jpg" alt="" width="65%" /></a></li>-->
            <br>
            <li><a href="revista.php" ><p class="flow-text white-text">Inicio</p></a></li>
            <li><a href="articulos.php">Articulos</a></li>
            <li><a href="galeria.php">Login</a></li>

        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </nav>

   {# <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Logo</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">inicio</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">Javascript</a></li>
                <li><a href="mobile.html">Mobile</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">Javascript</a></li>
                <li><a href="mobile.html">Mobile</a></li>
            </ul>
        </div>
    </nav>#}

    {#<nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Logo</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
            </ul>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a href="#test1">Test 1</a></li>
                <li class="tab"><a class="active" href="#test2">Test 2</a></li>
                <li class="tab disabled"><a href="#test3">Disabled Tab</a></li>
                <li class="tab"><a href="#test4">Test 4</a></li>
            </ul>
        </div>
    </nav>
    <div id="test1" class="col s12">Test 1</div>
    <div id="test2" class="col s12">Test 2</div>
    <div id="test3" class="col s12">Test 3</div>
    <div id="test4" class="col s12">Test 4</div>
    #}

    <script type="text/javascript">
        $(".button-collapse").sideNav();
    </script>
   <style>
       nav {
           color: #fff;
           background-color: #4db6ac;
           width: 100%;
           height: 56px;
           line-height: 56px;
       }
   </style>
    <br>

    <div class="slider">
        <ul class="slides">
            <li>



                <img  class="responsive-img" src="imagenes/d.jpg"  /> <!-- random image -->
                <div class="caption center-align">
                    <h3>Instituto Tecnologico</h3>
                    <h5 class="light grey-text text-lighten-3"></h5>
                </div>
            </li>
            <li>
                <img  class="responsive-img" src="imagenes/g.jpg"  /> <!-- random image -->
                <div class="caption left-align">
                    <h3>Egresados</h3>
                    <h5 class="light grey-text text-lighten-3"></h5>
                </div>
            </li>
            <li>
                <img  class="responsive-img" src="imagenes/f.jpg"  /> <!-- random image -->
                <div class="caption right-align">
                    <h3>Edificio</h3>
                    <h5 class="light grey-text text-lighten-3"></h5>
                </div>
            </li>
            <li>
                <img  class="responsive-img" src="imagenes/b.jpg"  /><!-- random image -->
                <div class="caption center-align">
                    <h3>Mural</h3>
                    <h5 class="light grey-text text-lighten-3"></h5>
                </div>
            </li>
        </ul>
    </div>
    <!--
      <div  class="card-panel" align="center"  >
         <span class="blue-text text-darken-2"  > <h3>Bienvenidos</h3> </span>
      </div>
    -->

    <script type="text/javascript">
        $(document).ready(function(){
            $('.slider').slider({full_width: true});
        });
    </script>

    <table id="ta">
     <tr align="center">
         <td colspan="4" >
             <h5>Articulos</h5>
         </td>
     </tr>
        <tr>

            <td>
               Nombre
            </td>
            <td>
               Clasificacion
            </td>
            <td>
               Descarga
            </td>
        </tr>
        {% for articulo in articulos %}
            <tr>
                <td>{{ articulo.descripcion }}</td>
                <td>{{ articulo.idcla }}</td>
                <td><a href="{{ path ("Descargar") }}?articulo={{ articulo.imagen }}"> descargar
                    </a></td>
            </tr>
        {% endfor %}

    </table>
</div>

</body>

<style media="screen">

    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }


</style>
<style>
    footer.page-footer {
        margin-top: 20px;
        padding-top: 20px;
        background-color:#4db6ac ;
    }
</style>

<div class="container">
<footer class="page-footer" class="teal lighten-2" >
    <div class="container">
        <div class="row">
            <div class="col l6 s6">

                <div class="container" align="left">
                    <h5 class="white-text">Contacto </h5>
                    <table>
                        <tr>
                            <h6 class="white-text"> tel:4612013651</h6>
                        </tr>
                    </table>
                    <div class="container">
                    </div>
                </div>
            </div>
            <div class="container" align="right">
                <div class="col l6  s6">
                    <h5 class="white-text">Redes Sociales</h5>

                    <table>
                        <tr>
                            <td><a href="https://www.facebook.com/Celaya.Guanajuato/"><img src="imagenes/Facebook.png" alt="Facebook" /></a></td><td>  &nbsp &nbsp  </td>
                            <td><a href="https://twitter.com/turismocelay"><img src="imagenes/Twitter.png" alt="Twitter" /></a></td><td>&nbsp &nbsp</td>
                            <td><a href="https://www.instagram.com/municipiocelaya/"><img src="imagenes/instagram.png" alt="Instagram" width="43" /></a></td>
                            <td><a href="https://www.youtube.com/channel/UCy0EZLCcf_xfZtz3SKwp9cQ"><img src="imagenes/Youtube.png" alt="Youtube" /></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
</html>
