

<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %} Blog {% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/materialize.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/icon.css') }}">
    {% endblock %}
    {% block javascripts %}
        <script type="application/javascript" src="{{ asset('js/jquery-3.1.0.js') }}"></script>
        <script type="application/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
    {% endblock %}

</head>
<body class="card-panel red lighten-5" >
{#<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
        </ul>
    </div>
</nav>
<script type="text/javascript">
    $(".button-collapse").sideNav();
</script>#}
{#<div class="col-lg-3">
<table align="center">
<div>

    <form>
        <h2 align="center">Login</h2>
        <div class="input-field col s6">
            <label for="usuario">Numero Control:</label>
            <input type="text" id="usuario" name="usuario" placeholder="Usuario" class="validate" >
        </div>
        <div class="form-group">
            <label for="contrasena">Contraseña:</label>
            <input type="password"  id="contrasena" name="contrasena" placeholder="Contraseña" class="validate">
        </div>
        <div class="form-group">
            <input type="button" class="waves-effect waves-light btn"  id="Ingresar"  value="Ingresar"/>
        </div>
        <div class="form-group">
            <a href="{{ path('Registro') }}"  id="Registrar">Registrar</a>
        </div>

    </form>

</div>
</table>#}
<div >
<div class="container" >
    <table >
        <tr>
            <h2 align="center">Login</h2>
        </tr>
        <td>
            <tr>
                <div class="input-field col s6">
                    <label for="usuario"   class="active">Numero Control:</label>
                    <input type="text" id="usuario" name="usuario" placeholder="Usuario" class="validate" >
                </div>
            </tr>
            <tr>
                <div class="form-group">
                    <label for="contrasena">Contraseña:</label>
                    <input type="password"  id="contrasena" name="contrasena" placeholder="Contraseña" class="validate">
                </div>
            </tr>
            <tr>
                <div class="form-group" align="center">

                    <input type="button" class="waves-effect red lighten-1 btn"  id="Ingresar"  value="Ingresar"/>
                    <a href="{{ path('Registro') }}"  id="Registrar" class="waves-effect red lighten-1 btn">Registrar</a>
                </div>
            </tr>

        </td>
    </table>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        Materialize.updateTextFields();
    });

</script>
<style>
    .container {
        margin: 0 auto;
        max-width: 1080px;
        width: 30%;
    }
</style>
</body>
</html>
<script>
    $(document).ready(function () {
        $("#Ingresar").click(function () {
            if($("#usuario").val() == "" ) alert("Numero de Control es requerido.");
            else if($("#contrasena").val() == "") alert("Contraseña es requerida.");
            //val   ida que los campos esten llenos
            else {
                $.ajax({
                    url:"{{ path('Login') }}",
                    //te envia a la ruta de default controller
                    type: 'POST',
                    data: $(".validate").serialize(),
                    success:function(respuesta){
                        alert(respuesta);
                        if($.trim(respuesta) == 0){
                            //la respuesta va a haccer lo que devuelva el default controller ya sea 0 o 1
                            document.location.href = "{{ path('Inicio') }}";
                          }
                        if($.trim(respuesta) == 1){
                            //la respuesta va a haccer lo que devuelva el default controller ya sea 0 o 1
                            document.location.href = "{{ path('InicioA') }}";
                        }
                    },
                });
            }
        });
    });
</script>