<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Registro{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/materialize.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/icon.css') }}">
    {% endblock %}
    {% block javascripts %}
        <script type="application/javascript" src="{{ asset('js/jquery-3.1.0.js') }}"></script>
        <script type="application/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body bgcolor="#004d40 ">
{#<nav class="teal lighten-2" >
    <div class="nav-wrapper" >
        <a href="#!" class="brand-logo">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
        </ul>
    </div>
</nav>
<script type="text/javascript">
    $(".button-collapse").sideNav();
</script>#}
<div class="container">

    <form>
        <h2 align="center" class="white-text">Registro</h2>

        <div class="form-group">
            <label for="numcon" >Numero de Control:</label>
            <input type="text"  id="numcom" name="numcon" placeholder="Numero de Control"
            class="validate">
        </div>
        <div class="form-group">
            <label for="usuario">Correo:</label>
            <input type="email"  id="mail" name="mail" placeholder="Correo" class="validate">
        </div>
        <div class="form-group">
            <label for="usuario">Nombre de usuario:</label>
            <input type="text"  id="usuario" name="usuario" placeholder="Usuario" class="validate">
        </div>
        <div class="form-group">
            <label for="contrasena">Contraseña:</label>
            <input type="password"  id="contrasena" name="contrasena" placeholder="Contraseña" class="validate">
        </div>
        <div class="form-group" align="center">
            <input type="button" class="waves-effect waves-light btn"  id="Registrar"  value="Registrar"/>
            <a href="{{ path('Login') }}"  class="waves-effect waves-light btn" id="Cancelar">Cancelar</a>
        </div>

    </form>
</div>
<style>
    .container {
        margin: 0 auto;
        max-width: 1080px;
        width: 30%;
    }
</style>
</body>
</html>
<script> //Realizar el registro del login
    $(document).ready(function () {
        $("#Registrar").click(function () {
            alert( $(".validate").serialize());
            if($("#numcom").val() == "" ) alert("Numero de Control es requerido.");
            else if($("#contrasena").val() == "") alert("Contraseña es requerida.");
            else {
                $.ajax({
                    url:"{{ path('Registro') }}",
                    type: 'POST',
                    data: $(".validate").serialize(),
                    success:function(respuesta){
                        if($.trim(respuesta) == 1){
                            document.location.href = '{{ path('Login') }}';
                        } else{
                            alert("Usuario no registrado.");
                         }
                    },
                });
            }
        });
    });
</script>