{% if clasificaciones is empty %}
    <tr><td colspan="2"><h1>Sin clasificaciones existentes.</h1></td></tr>
{% endif %}
{% for clasificacion in clasificaciones %}
<tr>
    <td>{{ clasificacion.nomcla }}</td>
    <td colspan="2"><input type="button" data-id="{{ clasificacion.idcla }}" data-nombre="{{ clasificacion.nomcla }}" id="boton" name="boton" value="Modificar">
    {% if clasificacion.activo == 1 %}
        <input type="button" id="boton" name="boton" data-id="{{ clasificacion.idcla }}" value="Desactivar">
    {% else %}
        <input type="button" id="boton" name="boton" data-id="{{ clasificacion.idcla }}" value="Activar"></td>
    {% endif %}
</tr>
{% endfor %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("input[type=button]").click(function () {
                var btn = $(this).val();
                if(btn == "Modificar"){
                    document.getElementById('nombreclasificacion').value = $(this).data('nombre');
                    document.getElementById('idclasificacion').value = $(this).data('id');
                }
                if(btn == "Activar" || btn == "Desactivar"){
                    var idcategoria = $(this).data('id');
                    $.ajax({
                        url: "{{ path('OperacionesSQL') }}",
                        type: 'POST',
                        data: "idclasificacion="+idcategoria+"&btn="+btn,
                        success: function (data) {
                            if($.trim(data) == 1){
                                alert("Operación completa.");
                                $("#tbody").load("{{ path('LlenatablaClasificacion') }}");
                            } else{
                                alert("No se puede realizar la operación.");
                            }
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}
