<html>
<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <script src="jquery-1.12.0.min.js"> </script>

    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <script type="text/javascript">

    </script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8">
    <title></title>
</head>
<body bgcolor="#607d8b ">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>

<div class="container"  >

    <nav>

        <ul class="left hide-on-med-and-down">
            <li><a href="revista.php">Inicio</a></li>
            <li><a href="articulos.php">Articulos</a></li>
            <li><a href="galeria.php">Galeria</a></li>
            <li><a href="subira.php">Subir Articulos</a></li>
            <a href="#" class="brand-logo left"> <img src="imagenes/escudo.jpg" alt="inicio" width="25%" /></a>
        </ul>
        <ul id="slide-out" class="side-nav">
            <li><a href="revista.php">Inicio</a></li>
            <li><a href="articulos.php">Articulos</a></li>
            <li><a href="galeria.php">Galeria</a></li>
            <li><a href="subira.php">Subir Articulos</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </nav>
    <script type="text/javascript">
        $(".button-collapse").sideNav();
    </script>
</div>
<div class="input-field col s12">
    <select id="idcla">
        <option value="" disabled selected>Choose your option</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
    </select>
    <label>Materialize Select</label>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('select').material_select();
    });

</script>
<table>
<br>

<div class="container"  align="center">
    <form   align="center">

        <table border="2"  bgcolor="##009688" >

            <tr>
                <td>
                    <h2>Descripcion: </h2>   <input id="des" type="text"  name="descripcion">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input id="file_url" type="file" value="Archivo" name="foto">  <input type="button" id="buttonG" class="waves-effect waves-light btn" value="Guardar">
                </td>
            </tr>


        </table>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('select').material_select();
    });
    $("#buttonG").click(function () {
      var archivos = document.getElementById("file_url");
        var archivo = archivos.files[0];
        var descripcion = $("#des").val();
        var clasificacion = $("#idcla").val();

        var archivos = new FormData();

        archivos.append('archivo', archivo);
        archivos.append('descripcion', descripcion);
        archivos.append('clasificacion', clasificacion);


        $.ajax({
            url: "{{ path ('Importar') }}",
            type: 'POST',
            contentType: false,
            data: archivos,
            processData: false,
            cache: false,
        })
    });
</script>

</body>

<br>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">

                <div class="container" align="left">
                    <h5 class="white-text">Contacto </h5>
                    <div class="container">
                    </div>
                </div>
            </div>
            <div class="container" align="right">
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>

                </div>
            </div>
        </div>
    </div>
</footer>
</html>
